$site-font: 'Helvetica', sans-serif;

$light-gray: white;
$dark-gray: #212529;
$white: white;

$dark-green: #1e453e;
$light-green: #3ea060;

$primary-color: #343a40;
$secondary-color: #6c757d;
$text-color: #fff;