.post-container {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 15px;
}

.post-container.dark {
    background-color: $dark-gray;
    box-sizing: border-box;
    background-color: rgba(93, 101, 105, 0.3);
    border-radius: 10px;
}

.post-container a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.post-container:hover {

    .post-title h3 {
        transition: 0.3s;
        color: $light-green;
    }
}

.post-container a:hover {
    color: $dark-gray;
    transform: scale(1.02);
}

.post-container.dark:hover {
    background-color: rgba(194, 194, 194, 0.055);
}

.post-container.dark a:hover {
    color: $light-gray;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-text {
    margin-bottom: 10px;
    font-size: 16px;
}

.post-tags {
  list-style-type: none; /* 기본 목록 스타일 제거 */
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding-bottom: .5rem;
}

.post-badge {
    width: 100%;
    height: 100%;
    background-color: $light-green;
    border-radius: 5px;
    padding: 1px 7px;
}

.post-date {
    color: rgb(170, 170, 170);
}

.post-border {
    height: 1px;
    width: 100%;
    /* 전체 너비에서 좌우 10px의 간격을 뺀 크기 */
    background-color: rgb(138, 138, 138);
    margin: 20px 0;
}

.post-border.dark {
    background-color: rgb(138, 138, 138);
}

.post-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    border-radius: 2px;

    h3 {
        font-weight: 700;
    }
}